

a:link{
text-decoration: none;
 font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-weight: 500;
}

a:hover{
    color:black;
}
#tallprint{float:left;}

#longprint{float:right}

#images{
    margin-left:auto;
    margin-right:auto;
    width:608px;
}

button.designSelect:hover{
  width:100px;
}

h1{
    font-family: 'Titillium Web', sans-serif;
    font-size: 100px;
    text-align: center;
    color:white;
    font-weight: 500;
}

h3{
    font-family: 'Titillium Web', sans-serif;
    font-size: 60px;
    text-align: center;
    color:#ee7600 ;
    font-weight: 500;
}

h4{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    text-align: center;
    color:gray ;
    font-weight: 500;
}
h5{
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    text-align: center;
    color:white ;
    font-weight: 500;
}

li{




}

ul{
        font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    text-align: left;
    color:black;
    font-weight: 700;
    list-style-type: none;
}

p{

    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    text-align: center;
    color:black;
    font-weight: 400;
}

#megatron{
    height:800px;
    width:100%;
    background:black;
    background-image:url("../img/background.png");
    background-repeat: no-repeat;
    margin-top:0px;
    z-index:5;
}



::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}



img {
    vertical-align: middle;
    text-align: center;
    width:300px;
    margin-left: -10px;
    margin-top: -10px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border: 5px solid white;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {

    background: #ccc;
    color: #000;

}

select{

    width:600px;
    height:300px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 70px;
    text-align: center;
    color:#ee7600 ;
    font-weight: 500;
    background: white;
    margin-left:30%;

}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

head{
    background:orange;
}
body { 
    font-size: 1em;
    line-height: 1.4;
    width:100%;
    margin-top: -80px;

}
#megatronNext{
    width:200px;
    height:150px;
    margin-left:auto;
    margin-top:100px;
    margin-right:auto;
    font-family: 'Titillium Web', sans-serif;
    font-size: 50px;
    color:white;
}

button{

    width:300px;
    height:150px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 35px;
    text-align: center;
    color:#ee7600 ;
    font-weight: 500;
    background: white;
    margin-left:auto;
    margin-right:auto;
     -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
  border: 5px solid black;



}

button.designSelect{

    width:100px;
    height:50px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    text-align: center;
    color:white ;
    font-weight: 500;
    background: black;
    margin-left:auto;
    margin-right:auto;
     -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
  border: 2px solid black;

}

button.sizeButton{
height:150px;
width: 
      -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
  border: 5px solid white;
}

canvas{
    z-index: -5;
    margin-top:5000px;
    margin-left: 215px;
    float:left;

    

}

canvas#defaultcanvas.p5_hidden{

margin-top:4000px;
margin-left:300px;
height:600px;
width:200px;
float:right;
position:fixed;
}
#main {
    margin-left:100px;
    margin-right:100px;
    margin-top:1000px;
   /* margin-left:300px;
    text-align:left;
    float:left;
    margin-top:0px; */
}

#navigation{

    
    height:800px;
    width:200px;
    margin-top:0px;
    position:fixed;
    z-index: -1;
    background-color: black;
    float:right;
    font-size: 30px;
    color:white;
    background-image:url("../img/whitebk.png");



}
#navText{
    margin-left:20px;
    margin-top:100px;
      z-index: 4;

}

#about:hover {
   width:160px;
}

#about
{
    border-style: solid;
    border-width: 2px;
    border-color:white;
    text-align: center;
}

#aboutme {
    text-align: justify;
    margin-top: 5%;
    color:black;
    line-height: 2em;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16.5px;
}


.page{padding-top:0px;
        height: 2000px;

}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

 